<a href="https://colab.research.google.com/github/KirZa-alt/JAVA/blob/main/10_may_class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# comprehension
# 3 to 4 line code in single line

In [4]:
square_list=[i**2 for i in range(10)]
print(square_list)
# list comprehension
# loop in end and loop work on start

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
num=4
even=True if num%2==0 else False
print(even)

True

In [17]:
dic = {i: i**2 for i in range(10)}
print(dic)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [18]:
# functions
# 1- user defined
# 2- builtin
# indentification of functions is round brackets(paranthesis)
# define functios def
# body define
# 1-return
# 2-not return
# calling function is important.
# return can be any type
# take input (argument)
# return is exit of function

In [25]:
def sq_function():
    sq=[]
    for j in range(10):
        sq.append(j**2)
    return sq
lists=sq_function()
print(lists)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# no input
# no output
# no input return output
# pass input not output
# out put and input

In [40]:
def sq_function():
    print("function is calling")
(sq_function())

function is calling

In [59]:
def sq_function_name(names):
    print("hello",names)
sq_function_name("kiran")
names=input("enter name")
sq_function_name(names)
# benifit of function

hello kiran
enter nameki
hello ki

In [ ]:
# argument is of 2 types
# positional
# keyword

In [65]:
def sq_function_name(names="kiran"):
    print("hello",names)
sq_function_name("aqsa")
sq_function_name()

hello aqsa
hello kiran

In [71]:

def add(num1,num2):
    print("hello",1+2)
    return
add(1,2)

hello 3

In [82]:
def add(num1=1,num2=2):
    return num1+num2
add()

3

In [88]:
def even(a):
    if a%2==0:
        print("true")
    else:
        print("false")
even(4)

true